* {
  box-sizing: border-box;
}
body {
  background-color: rgb(135, 132, 138);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: max(70vh, 50vw);
  width: min(50vh, 50vw);
  border: 3px solid yellow;
}
#display {
  display: flex;
  height: 30%;
  width: 100%;
  border: 3px solid black;
  background-color: white;
}
#numbersContainer {
  display: flex;
  flex-direction: column;
}
#keyPad {
  border-bottom: 0;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
#numbersContainer {
  width: 100%;
  height: 100%;
  border: 3px solid rgb(255, 102, 0);
}
#numbersContainer > * {
  display: flex;
  width: 100%;
  height: 100%;
}
#numbersContainer > * > *,
.operators {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}
.numberPad,
.operators,
#keyDel {
  width: 100%;
  height: 100%;
}
#resultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  border: 3px solid rgb(255, 102, 0);
}
#equal {
  width: 150%;
}
#clear {
  width: 100%;
}
#clear,
#equal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid;
}
.numberPad,
.operators,
#equal,
#clear,
#keyDel {
  cursor: pointer;
}
